
div.header{
	background-color: #CCC;
	padding: 20px;
}
div.footer{
	background-color: #777;
	color: white;
	padding: 20px;
	text-align: center;
}
div.section:after{
	content: "";
	display: table;
	clear: both;
}

.top20{
	margin-top: 20px;
}

.ims-contain-wrapeer{
	min-height: 350px;
}

